# Ignore node_modules in all folders
**/node_modules/

# Optional: other common ignores
.env
.DS_Store
dist/
build/
*.log

# Ignore environment files
/client/.env.local
/server/firebase-admin-key.json